<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle
    Name="Adzan Toolbar Installer"
    Manufacturer="Rifqi"
    Version="$(var.ProductVersion)"
    UpgradeCode="DBF5E39D-384B-49B3-9575-D18C9A6026A2">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense" LicenseUrl="https://github.com/rifqi2320/adzan-toolbar/blob/main/README.md" />
    </BootstrapperApplication>

    <util:RegistrySearch
      Id="DesktopRuntimeSearch"
      Root="HKLM"
      Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedfx\Microsoft.WindowsDesktop.App"
      Result="exists"
      Variable="DesktopRuntimeInstalled" />

    <Chain>
      <ExePackage
        Id="WindowsDesktopRuntime"
        SourceFile="$(var.RuntimeInstaller)"
        Name="Windows Desktop Runtime 8 x64"
        DisplayName="Microsoft .NET 8 Windows Desktop Runtime"
        DetectCondition="DesktopRuntimeInstalled"
        InstallArguments="/install /passive /norestart"
        RepairArguments="/repair /passive /norestart"
        Permanent="yes"
        PerMachine="yes"
        Vital="yes"
        Compressed="yes" />

      <MsiPackage
        Id="AdzanToolbarMsi"
        SourceFile="$(var.MsiPath)"
        Visible="no"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
